<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bearlander</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header>    
            <nav class="navbar">
                <img src="assets/logo.svg" alt="Bearlander Logo">
                
                <div>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/features">Features</a></li>
                        <li><a href="/subject-rep-payment">Pay</a></li>
                        <li><a href="/notes">Notes</a></li>
                        <li><a href="/help-documentation">Help</a></li>
                    </ul>

                    <button class="button-translucent">Sign In</button>
                </div>
            </nav>
        </header>    
    <div class="main-content">
        <div class="container-main-information">
            <div>
                <h1>your unofficial vjc student portal.</h1>
                <p>Say <b>goodbye to unpaid notes.</b> No more unhappy subject reps. A streamlined integration with the VJC Portal bringing easy timetable Google Calendar integration.</p>
            </div>
           
            <img src="assets/credit-card-calendar-diagram.svg">
        </div>
        <div class="container-main-information">
            <div>
                <h1>your unofficial vjc student portal.</h1>
                <p>Say <b>goodbye to unpaid notes.</b> No more unhappy subject reps. A streamlined integration with the VJC Portal bringing easy timetable Google Calendar integration.</p>
            </div>
        
            <img src="assets/credit-card-calendar-diagram.svg">
        </div>
        <div class="container-main-login">
            <div class="aes-loginbox">
                <h1>Login Page</h1>
                <form method="post">
                    <input class="inputfield" type="text" placeholder="Email"></input>
                    <input class="inputfield" type="text" placeholder="Password"></input>
                    <label><input class="rememberme" type="checkbox"></input>  Remember Me</label>
                    <button class="submitbutton" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>

</html>