<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bearlander</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="styles_bearlander.css">
    </head>

    <body>
        <div class="sidebar">
            <div class="sidebar-logo">
                <img src="assets/branding/logo_full.svg" class="logo">
            </div>

            <div class="container-sidebar">
                <div class="sidebar-button">
                    <img class="sidebar-icon" src="assets/resources/icon-home.svg">
                    <p>Home</p>
                </div>
                <div class="sidebar-button choosen">
                    <img class="sidebar-icon" src="assets/resources/icon-calendar.svg">
                    <p>Calendar</p>
                </div>

                <div class="sidebar-button">
                    <img class="sidebar-icon" src="assets/resources/icon-resources.svg">
                    <p>Resources</p>
                </div>

                <div class="sidebar-button">
                    <img class="sidebar-icon" src="assets/resources/icon-creditcard.svg">
                    <p>Payment</p>
                </div>
            </div>

            <div class="container-sidebar bottom">
                <div class="sidebar-button">
                    <img class="sidebar-icon" src="assets/resources/icon-info.svg">
                    <p>Info</p>
                </div>
                <div class="sidebar-button">
                    <img class="sidebar-icon" src="assets/resources/icon-settings.svg">
                    <p>Settings</p>
                </div>
            </div> 
        </div>

        <div class="account-confirmation">
            <div class="component-card-top">
                <img class="sidebar-icon" src="assets/resources/icon-google.svg" style="height: 20px;">
                <h3>Link to Google Calendar</h3>
            </div>
        </div>

        <div class="container-calendar">
            <div class="component-card-top" style="border-radius: 20px 20px 0 0; background-color: rgb(205, 205, 255);">
                <img class="sidebar-icon" src="assets/resources/icon-reload.svg" style="height: 20px;">
                <h3>Timetable Selection for Google Calendar</h3>
            </div>

            <div class="container-main">
                <div class="component-calendar-ui">
                    <div class="component-calendar">
                        <div class="top">
                            <div class="cell" style="background-color: rgb(245, 80, 80);"></div>
                            <div class="days">
                                <p>Mon</p>
                                <p>Tue</p>
                                <p>Wed</p>
                                <p>Thu</p>
                                <p>Fri</p>
                                <p>Sat</p>
                                <p>Sun</p>
                            </div>
                        </div>

                        <div class="week">
                            <div class="cell w1"></div>
                            <div class="cell"><p>1</p></div>
                            <div class="cell"><p>2</p></div>
                            <div class="cell"><p>3</p></div>
                            <div class="cell"><p>4</p></div>
                            <div class="cell"><p>5</p></div>
                            <div class="cell"><p>6</p></div>
                            <div class="cell"><p>7</p></div>
                        </div>

                        <div class="week">
                            <div class="cell w2"><p></p></div>
                            <div class="cell"><p>8</p></div>
                            <div class="cell"><p>9</p></div>
                            <div class="cell"><p>10</p></div>
                            <div class="cell"><p>11</p></div>
                            <div class="cell"><p>12</p></div>
                            <div class="cell"><p>13</p></div>
                            <div class="cell"><p>14</p></div>
                        </div>

                        <div class="week">
                            <div class="cell w3"><p></p></div>
                            <div class="cell"><p>15</p></div>
                            <div class="cell"><p>16</p></div>
                            <div class="cell"><p>17</p></div>
                            <div class="cell"><p>18</p></div>
                            <div class="cell"><p>19</p></div>
                            <div class="cell"><p>20</p></div>
                            <div class="cell"><p>21</p></div>
                        </div>

                        <div class="week">
                            <div class="cell w4"><p></p></div>
                            <div class="cell"><p>22</p></div>
                            <div class="cell"><p>23</p></div>
                            <div class="cell"><p>24</p></div>
                            <div class="cell"><p>25</p></div>
                            <div class="cell"><p>26</p></div>
                            <div class="cell"><p>27</p></div>
                            <div class="cell"><p>28</p></div>
                        </div>

                        <div class="week">
                            <div class="cell w5"><p></p></div>
                            <div class="cell"><p>29</p></div>
                            <div class="cell"><p>30</p></div>
                            <div class="cell"><p>31</p></div>
                            <div class="cell"></div>
                            <div class="cell"></div>
                            <div class="cell"></div>
                            <div class="cell"></div>
                        </div>

                    </div>
                </div>

                <div class="component-information">
                    <h3>Timetable Selection</h3>
                    
                    <div class="container-icon-instructions">
                        <img src="assets/resources/icon-calendar.svg" class="sidebar-icon" style="padding-top: 5px;">
                        <p>Select the date range you want to sync to Google Calendar. Only lessons within the selected period will be imported.</p>
                    </div>

                   <div class="container-icon-instructions">
                        <img src="assets/resources/icon-google.svg" class="sidebar-icon" style="padding-top: 5px;">
                        <p>Link your Google Account / Google Calendar Account on the right.
                        </p>
                    </div>  

                   <div class="container-icon-instructions">
                        <img src="assets/resources/icon-reload.svg" class="sidebar-icon" style="padding-top: 5px;">
                        <p>The selected timetables will be added into your selected Google Account under the "Bearlander" calendar.</p>
                    </div>  
                    
                    <div style="display:flex; flex-direction: row; 
                    align-items: flex-end; height:100%; padding-bottom: calc(var(--calendar-ui-border-gap) + 12px)">
                    <div class="legends">
                            <h3>Legends</h3>
                            <div class="legend">
                                <div class="cell" style="background-color: rgb(245, 80, 80);"></div>
                                <p>Days</p>
                            </div>
                            
                            <div class="legend">
                                <div class="cell w2"></div>
                                <p>July</p>
                            </div>

                            <div class="legend">
                                <div class="cell w5"></div>
                                <p>August</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="component-manual-selector-ui">
                    <div class="container-manual">


                    </div>

                </div>
            </div>
        </div>
    </body>
</html>