<!DOCTYPE html>

<html>
    <head>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    
    <body>
        <header>
            <nav class="navbar">
                <img src="../static/assets/branding/logo-full-text.svg" class="logo">
                <div class="flex-row gap-20">
                    <a href="">Resources</a>
                    <a href="">Subject Payment</a>
                    <a href="">Calendar</a>
                    <a href="">Usage</a>
                    <a href="">Contact Us</a>
                </div>
            </nav>
        </header>
    </body>

</html> 